= form_for @profile do |f|
  = f.error_messages
  %p
    = f.label :user_id
    %br
    = f.number_field :user_id
  %p
    = f.label :firstname
    %br
    = f.text_field :firstname
  %p
    = f.label :lastname
    %br
    = f.text_field :lastname
  %p
    = f.label :birthday
    %br
    = f.date_select :birthday
  %p
    = f.label :gender
    %br
    = f.text_field :gender
  %p
    = f.label :nationality1
    %br
    = f.text_field :nationality1
  %p
    = f.label :nationality2
    %br
    = f.text_field :nationality2
  %p
    = f.submit
