- title "Profile"

%p
  %strong User:
  = @profile.user_id
%p
  %strong Firstname:
  = @profile.firstname
%p
  %strong Lastname:
  = @profile.lastname
%p
  %strong Birthday:
  = @profile.birthday
%p
  %strong Gender:
  = @profile.gender
%p
  %strong Nationality1:
  = @profile.nationality1
%p
  %strong Nationality2:
  = @profile.nationality2

%p
  = link_to "Edit", edit_profile_path(@profile)
  |
  = link_to "Destroy", @profile, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", profiles_path
