-if @is_new
  %h2 #{t('Add')} #{t('Education History')}
-else
  %h2 #{t('Update')} #{t('Education History')}


=render 'shared/flash',:flash=>flash
= semantic_nested_form_for @user do |f|
  = f.error_messages  
  = f.input :this_step,:as=>:hidden,:value=>'education'
  = f.input :next_step,:as=>:hidden,:value=>'exam' if @is_new
  = f.semantic_fields_for :educations do |education|
    .row
      .span6= education.input :school
    
      .span2= education.input :degree_type,:as=>:select,:collection=>DegreeType.all
      .span1=education.input :GPA
     
    .row
      .span3= education.input :program 
      
      .span3=education.input :start_date
      .span3=education.input :end_date 
    .row
      .span12=education.input :comment,  :input_html => { :class => 'autogrow', :rows => 5, :cols => 20, :maxlength => 500  }
    = education.link_to_remove "#{t('Remove')} #{t('Education History')}" 
    %br
    %br
  = f.link_to_add "#{t('Add')} #{t('Education History')}", :educations
  .row.span16.actions
    .span2.offset6= submit_tag "#{@is_new ? t('Next Step') : t('Save Changes')}",:class=>"btn primary"

