.span3.user_panel


  .avatar.medium=image_tag @user.avatar.url(:medium),:width=>150
  %h3
    =@user.profile.name current_user
    .edit=link_to raw("<i class='icon-edit '></i>"),ind_user_edit_path(@user,'profile') if @user==current_user
  %p 
    %b 年龄:
    #{@user.profile.age}岁 
  %p
    %b 性别:
    #{@user.profile.gender} 
  %p
    %b 国籍:
    #{@user.profile.nationality} 
  %p 
    %b 现居国:
    #{@user.profile.residence} 
  %p
    %b 省/州:
    #{@user.profile.province.name} 
  -if current_user.admin?
    邀请人:
    =link_to @user.invited_by.name, @user.invited_by if @user.invited_by
  .sidebar
    = bookmark_code @user unless @user==current_user
    =render 'pages/message_box'
    =link_to "留言","",:'data-controls-modal'=>"modal-from-dom",:'data-backdrop'=>"true", :class=>'btn' unless @user==current_user

  -unless @user.chinese_resume_file_name.nil? && current_user != @user
    %h4 
      中文简历
      .edit=link_to raw("<i class='icon-edit icon-white'></i>"),ind_user_edit_path(current_user.id,'profile') if current_user==@user
    =link_to "下载", @user.chinese_resume.to_s if @user.chinese_resume_file_name

  -unless @user.english_resume_file_name.nil? && current_user != @user
    %h4 
      英文简历
      .edit=link_to raw("<i class='icon-edit icon-white '></i>"),ind_user_edit_path(current_user.id,'profile') if current_user==@user
    =link_to "下载", @user.english_resume.to_s if @user.chinese_resume_file_name
  
