%h4 收藏职位

-if @job_posts.empty?   
  您没有收藏任何职位。现在就去浏览职位吧!
-else    
  %table.zebra-striped
    %tr
      %th 公司/机构
      %th 职位
      %th 月薪
      %th 地点
      %th 截止日期
      %th

    - for job_post in @job_posts
      %tr{:id=>"#{job_post.id}"}
        %td=link_to job_post.company_name, job_post.user 
        %td=link_to job_post.title,job_post
        %td= job_post.salary ||'面议'
        %td= job_post.city.name
        %td= l job_post.expiration,:format=>:long unless job_post.expiration.nil?
        %td= bookmark_code(job_post)

        
.row
  .span10= paginate @job_posts
