%h4.with_span 收藏公司
%span=link_to "查看所有公司", default_companies_path unless @companies.empty?
%p
-if @companies.empty?   
  您没有收藏任何公司。
  =link_to '现在就去看看公司吧!',default_companies_path
-else    
  %table.zebra-striped
    %tr
      %th{width: 400} 公司/机构
      %th{width: 150} 100天发布量
      %th{width: 300} 最新职位
      %th{width: 100} 粉丝
      %th{width: 100}
    - for company in @companies
      -pro = company.org_profile
      %tr{:id=>"#{company.id}"}
        %td
          .left=image_tag company.logo(:small)
          .left
            %b=link_to pro.company_name, company
            %p="#{pro.city.fullname}, #{pro.people_count}, #{pro.industry.name}"
        %td= company.job_posts.where(:created_at.gt=>Date.today-100.days).count
        %td= (latest_job = company.job_posts.last).nil? ? "" : link_to(latest_job.title, latest_job) 
        %td= company.bookmarkings.count
        %td= bookmark_code(company)

.row
  .span10= paginate @companies
