=render 'ind_users/navigation'
%h3 我发布的职位
%table.zebra-striped
  %tr
    %th{width: 200} 公司名称
    %th{width: 200} 职位
    %th{width: 100} 月薪
    %th{width: 150} 截止日期
    %th{width: 50} 关注
    %th
  - for job_post in @job_posts
    %tr
      %td=job_post.company_name
      %td=link_to job_post.title,job_post
      %td= job_post.salary ||'面议'
      %td= l job_post.expiration,:format=>:long unless job_post.expiration.nil?
      %td= job_post.bookmarkings.count
      %td= link_to "查看匹配人才", job_post_matching_talent_path(job_post.id), :class=>'btn'

.row
  .span10= paginate @job_posts
