.row
  .span10 
    %b 技能选择: 
    .help-block 
      %strong 提示 
      您同时使用下方列表选择。
      如果您的技能不在列表之中，请用Tab键添加。
  %br
  %br
  .span10.skills=text_field_tag :skills
%br
.row
  .span2=link_to '查看所有技能','',:id=>'skill_picker'
  %br
  %br


  
.row
  .span12.skill_list

    -SkillCategory.all.values_at(0,1,2,3,4,6,7,5).compact.each do |category|
      .row.collapse
        %h3=category.name
        %ul#triple.span12
          -category.skills.asc(:name_ch).each do |skill|
            %li
              = check_box_tag "jobpost[skill_ids][]", skill.id, item.skills.include?(skill),:disabled=>true
              = skill.name


:javascript

  $(".skills input").autoSuggest("/skills/list", {asHtmlID: "skills", selectedValuesProp: "_id", selectedItemProp: "name_#{I18n.locale}", searchObjProps: "name_#{I18n.locale}", startText: "在此输入技能",matchCase: false, preFill:
  #{item.skills.to_json}});
