=render 'org_users/navigation'
=render 'talent_searches/form'
%h4 
  =@is_new ? "所有人才(#{IndUser.with_ind_profile.count}人)" : "搜索结果"

-if @users.empty?   
  -if @is_new
    没有找到匹配您需求的人才。请添加技能获取匹配！
    =link_to "添加所需技能",user_edit_path(current_user.id,"skill"),:class=>"btn"
  -else
    搜索结果为0,请试试别的搜索参数！
-else    
       
  %table.zebra-striped
    %tr
      %th 名字
      %th 最高学历
      %th 从事行业
      %th
      %th
    - for user in @users
      %tr
        %td= user.profile.nil? ? "" : user.profile.name
        %td= user.educations.blank? ? "不详" : user.educations[0].degree_type
        %td= user.experiences.blank? ? "不详": user.experiences.count 

        %td= bookmark_code(user)
        %td= link_to "查看", user,:class=>"btn"
