.home_page
  .row
    .span16.slogan
      %h2
        汇集中国优秀企业, 高端职位, 全球华人精英, 创业项目, 等你来发现！
  .row
    .span10.image
      =image_tag 'homepage-image.png', width: "580"
    .span6
      = form_for(User.new, :as => :user, :url => registration_path(:user)) do |f|
        .row
          .span2= f.label :email 
          .span4= f.email_field :email,:placeholder=> "使用学校或公司邮件地址"
        .row
          .span2= f.label :password
          .span4= f.password_field :password 
        .row
          .span2= f.label :password_confirmation
          .span4= f.password_field :password_confirmation
        .row
          .span2= f.label '用户类别'
          .span4= f.select :_type, options_for_select([['个人用户','IndUser'],['机构/企业用户','OrgUser']])
        .row
          .span2= f.label '邀请码'
          .span4= text_field_tag :invitation_code  
        .row
          =render 'pages/agreement'
          .span4.offset2.agreement_note
            注册本网站，表示您同意
            =link_to "网络服务使用协议","",:'data-controls-modal'=>"modal-from-dom",:'data-backdrop'=>"true"
          .span4.offset2= f.submit "加入悟空人才网", :class => "btn"

