.home_page
  .row
    .span16
      %h2
        %span 400
        个中国合作企业,
        %span 4239
        位全球留学精英,
        %span 98
        个创业项目,
        等你来发现！
  .row
    .span10
      =image_tag 'homepage-image.png', width: "580"
    .span6
      = form_for(User.new, :as => :user, :url => registration_path(:user)) do |f|
        .row
          .span2= f.label :email 
          .span4= f.email_field :email,:placeholder=> "使用学校或公司邮件地址"
        .row
          .span2= f.label :password
          .span4= f.password_field :password 
        .row
          .span2= f.label :password_confirmation
          .span4= f.password_field :password_confirmation
        .row
          .span2= f.label '用户类别'
          .span4= f.select :_type, options_for_select([['个人用户','IndUser'],['机构/企业用户','OrgUser']])
        .row
          .span2= f.label '邀请码'
          .span4= text_field_tag :invitation_code  
        .row
          .span4.offset2= f.submit "加入悟空人才网", :class => "btn"

