=semantic_form_for @project, :html => { :multipart => true }  do |f|
  .row
    .span12
      .row
        .span5= f.input :title
      .row
        .span10= f.input :intro, :as=>:text,:input_html => { :class => 'autogrow', :rows => 7, :cols => 15, :maxlength => 500  }
      .row
        .span3= f.input :people_count
        .span2.radio_buttons_row= f.input :has_patent, :as=>:radio,:collection => [["有",true], ["无",false]]
        .span3= f.input :stage, :as=>:select, :collection=>Project.stages_for_select
        .span3= f.input :province
      .row
        .span10.check_boxes_row= f.input :project_needs, :as=>:check_boxes

      %h3 项目图片
      %p 最多上传5张
      =f.semantic_fields_for :photos do |photo|
        -if !photo.object.new_record?
          %li.image_upload
            =image_tag photo.object.photo.url(:thumb)
            =photo.label "删除图片"
            =photo.check_box :_destroy
        -else
          %li
            =photo.file_field :photo
      %h3 项目Logo
      =f.input :logo, :label=>false
    .span4=f.input :project_fields, :as => :select, :collection => ProjectField.all, :multiple=>true, :input_html => {:size => 20}, :hint=>"提示: 此项可多选" 
  = f.action :submit, :button_html => { :class=>"btn primary"}
  
