/=render 'ind_users/navigation' unless params[:controller]=="ind_users" and params[:action]=="new"
.row
  =render 'ind_users/side_nav'
  .span12.offset1
  
    -if @is_new
      %h2 添加工作经验
    -else
      %h2 更新工作经验 

    .row
      .span12
        = semantic_nested_form_for @user do |f|
          = f.error_messages  
          = hidden_field_tag :current_step, 'experience' 
          = hidden_field_tag :is_new, 'true' if @is_new
          
          = f.semantic_fields_for :experiences do |exp|
            .list_item_box  
              .row
                .span5= exp.input :company_name
                .span3= exp.input :job_title
                .span3= exp.input :industry_id,:as=>:select,:collection=>Industry.all.pinyin_order,:required=>true
              .row
                .span11= exp.input :description,:as=>:text,:input_html => { :class => 'autogrow', :rows => 3, :maxlength => 500 }
              .row
                .span4.yearmonth=exp.input :start_date,:as=>:date,:start_year=>1990, :end_year=>Date.today.year
                .span4.yearmonth=exp.input :end_date,:as=>:date,:start_year=>1990, :end_year=>Date.today.year
              = exp.link_to_remove "删除工作经验" 
          = f.link_to_add "添加工作经验", :experiences
          .row
            .span2= submit_tag "#{@is_new ? t('Next Step') : t('Save Changes')}",:class=>"btn primary"

-if @user.experiences.empty?
  :javascript
    $(document).ready(function() {
       $('.add_nested_fields').click();
    });
