/=render 'ind_users/navigation' unless params[:controller]=="ind_users" and params[:action]=="new"
.row
  =render 'ind_users/side_nav'
  .span12.offset1
      
    -if @is_new
      %h2 添加语言能力
    -else
      %h2 更新语言能力 



    .row
      .span12
        = semantic_nested_form_for @user do |f|
          = f.error_messages  
          = hidden_field_tag :current_step, 'language' 
          = hidden_field_tag :is_new, 'true' if @is_new
          = f.semantic_fields_for :languages do |l|
            .row
              .span4=l.input :language_option_id,:as=>:select,:collection=>LanguageOption.all,:required=>true
              .span4=l.input :language_level, :as=>:select,:collection=>Language.language_levels_for_select
              .span4
                %br
                = l.link_to_remove "删除语言能力" 
          = f.link_to_add "添加语言能力", :languages
          .row
            .span2= submit_tag "#{@is_new ? t('Next Step') : t('Save Changes')}",:class=>"btn primary"
-if @user.languages.empty?
  :javascript
    $(document).ready(function() {
       $('.add_nested_fields').click();
    });
