/=render 'ind_users/navigation' unless params[:controller]=="ind_users" and params[:action]=="new"

.row
  =render 'ind_users/side_nav' unless @user.profile.firstname.nil?
  .span13
    .row
      .span13
        -if params[:action] == 'new'
          %h2 #{t("Create")}#{t("profile")}
        -else
          %h2 #{t("Update")}#{t("profile")}

    .row
      .span13
        = semantic_nested_form_for @user do |f|
          .row
            .span8
              = hidden_field_tag :current_step, 'profile' 
              = f.semantic_fields_for :profile  do |p| 
                = p.inputs do
                  .row
                    .span2= p.input :firstname if I18n.default_locale!=:ch
                    .span2= p.input :lastname
                    .span2= p.input :firstname if I18n.default_locale==:ch
                    .span4.yearonly= p.input :birthday, :as=>:date,:start_year=>1960, :end_year=>Date.today.year-18
                  .row  
                    .span2= p.input :gender, :as=>:select,:collection => Profile.genders_for_select,:prompt => t("Select one") 
                    .span2= p.input :citizenship,:as=>:select, :collection => Country.all,:prompt => t("Select one") 
                    .span2= p.input :residence_country, :as=>:select, :collection => Country.all,:prompt => t("Select one") 
                    .span2
                      =f.label "现居省/州*"
                      = p.grouped_collection_select :province_id, Country.all, :provinces, :name,:id,:name, include_blank: true
                  .row
                    .span5 
                      =f.input :avatar
                    .span2
                      = f.label "删除头像"
                      = check_box_tag :remove_avatar, 1, false
                  .row
                    .span5=image_tag @user.avatar(:medium) unless params[:action]=="new"

                  .row
                    .span8 
                      %h3 中文简历   
                      =f.input :chinese_resume,label: false
                      %p
                        删除简历
                        =check_box_tag :_destroy_chinese_resume
                        =(resume_name=@user.chinese_resume_file_name).nil? ? "(未上载)" : "已上载: "+resume_name+" 如需更新, 请重新上载)"   
                  .row
                    .span8
                      %h3 英文简历 
                      =f.input :english_resume,label: false
                      %p
                        删除简历
                        =check_box_tag :_destroy_english_resume
                        =(resume_name=@user.english_resume_file_name).nil? ? "(未上载)" : "已上载: "+resume_name+" 如需更新, 请重新上载)"
              = f.semantic_fields_for :usage  do |m| 
                = m.inputs do
                  .row
                    %h3.span8 使用本网站的意愿
                  .row
                    .span4= m.input :find_job,:as=>:boolean
                    .span4= m.input :find_project,:as=>:boolean
                  .row
                    .span4= m.input :find_partner,:as=>:boolean
                    .span4= m.input :find_money,:as=>:boolean  
                  .row
                    .span4= m.input :meet_people,:as=>:boolean
                    .span4= m.input :browse,:as=>:boolean
            .span5
              %div{class: "span4 #{'error' unless @user.errors.messages[:industry_ids].nil?}"}
                =f.input :industries, as: :check_boxes, required: true
                %p.inline-errors=@user.errors.messages[:industry_ids][0] unless @user.errors.messages[:industry_ids].nil?
          .row
            .span2= submit_tag "#{@is_new ? t('Next Step') : t('Save Changes')}",:class=>"btn primary"



