/=render 'ind_users/navigation' unless params[:controller]=="ind_users" and params[:action]=="new"
.row
  =render 'ind_users/side_nav'
  .span12.offset1

    -if @is_new
      %h2 添加技能
    -else
      %h2 更新技能 



    .row
      .span12
        = semantic_nested_form_for @user do |f|
          = f.error_messages  
          = hidden_field_tag :current_step, 'skill' 
          = hidden_field_tag :is_new, 'true' if @is_new
          =render 'shared/skill_picker',:item=>@user
          .row
            .span2= submit_tag "#{@is_new ? t('Next Step') : t('Save Changes')}",:class=>"btn primary"



