=render 'org_users/navigation'

      
%table.zebra-striped
  %tr
    %th 名字
    %th 最高学历
    %th 从事行业
    %th
    %th
  - for user in @matching_talent
    %tr{:id=>"#{user.id}"}
      %td= user.profile.name
      %td= user.educations.blank? ? "不详" : user.educations[0].degree_type
      %td= user.experiences.blank? ? "不详": user.experiences[0].industry.name 

      %td= bookmark_code(user)
      %td= link_to "查看", user,:class=>"btn"
