- title "Organization Profiles"
%table
  %tr
    %th Name
    %th Short Description
    %th Long Description
    %th Location
    %th Contact Person
    %th Phone Number
    %th Email
    %th Logo
    %th Website
  - for organization_profile in @organization_profiles
    %tr
      %td= organization_profile.name
      %td= organization_profile.short_description
      %td= organization_profile.long_description
      %td= organization_profile.location_id
      %td= organization_profile.contact_person
      %td= organization_profile.phone_number
      %td= organization_profile.email
      %td= organization_profile.logo
      %td= organization_profile.website
      %td= link_to "Show", organization_profile
      %td= link_to "Edit", edit_organization_profile_path(organization_profile)
      %td= link_to "Destroy", organization_profile, :confirm => 'Are you sure?', :method => :delete
%p= link_to "New Organization Profile", new_organization_profile_path
