.profile_item
  .row  
    .span5 学校: #{education.school} 
    .span3 学历: #{education.program}#{education.degree_type}
    .span4="#{yearmonth(education.start_date)} - #{yearmonth(education.end_date) || '至今'}"
  
  -unless education.comment.blank?
    .row
      .span12
        %h5 学业点评: 
        %p #{education.comment}





