%div.topbar
  .topbar-inner
    .container
      /=link_to '孙悟空',root_path,:class=>"brand"
      =link_to image_tag('logo.png'),root_path, :class=>"brand"
      #beta Beta 测试版
      %ul.nav
        %li{:class=>"#{is_active?("job#.")} #{is_active?("company_searches#.")} #{is_active?('ind_users#overview')}"}=link_to '工作圈',ind_user_overview_path || root_path


        -if SHOW_PROJECT_CIRCLE
          -if user_signed_in? && !current_user.projects.empty?
            %li{:class=>"dropdown #{is_active?("projects#")} #{is_active?("tech#")}",:"data-dropdown"=>"dropdown" }
              =link_to "项目圈", project_overview_path, :class=>"dropdown-toggle" 
              %ul.dropdown-menu.project_drop_down
                -current_user.projects.each do |project|
                  %li=link_to project.title, project
          -else
            %li{class: "#{is_active?("projects#")} #{is_active?("tech#")}"}=link_to '项目圈',project_overview_path
      -if user_signed_in?
        %ul.nav
          %li{:class=>is_active?("talent_searches#show")}=link_to '找悟空',default_talent_path 
          %li{:class=>is_active?("shouts#index")}=link_to "悟空微博",myshouts_path
          %li{:class=>is_active?("pages#referralbonus")}=link_to "有奖推荐", pages_referralbonus_path
        %ul{class: "nav", style: "float: right;"}
          %li{:class=>"#{is_active?("invitation#new")}"}=link_to "邀请好友", new_invitation_path(:user)
          %li{:class=>"dropdown #{params[:action]=~/bookmarked/  ? 'active':''}",:"data-dropdown"=>"dropdown" }
            =link_to_function "收藏夹",'$(".dropdown-menu.bookmark_dropdown").toggle()', :class=>"dropdown-toggle" 
            %ul.dropdown-menu.bookmark_dropdown
              %li{:class=>"#{params[:action]=='bookmarked_users'  ? 'active':''}"}=link_to "关注的个人",bookmarked_users_path
              -if current_user.is_a? IndUser
                %li{:class=>"#{params[:action]=='bookmarked_companies'  ? 'active':''}"}=link_to "关注的企业",bookmarked_companies_path
                %li{:class=>"#{params[:action]=='bookmarked_jobs'  ? 'active':''}"}=link_to "收藏的职位",bookmarked_jobs_path
                %li{:class=>"#{params[:action]=='bookmarked_projects'  ? 'active':''}"}=link_to "收藏的项目",bookmarked_projects_path
          %li{:class=>"dropdown #{is_active?("users#edit")}",:"data-dropdown"=>"dropdown"}
            =link_to_function current_user.name,'$(".dropdown-menu.setting").toggle()', :class=>"dropdown-toggle" 
            %ul.dropdown-menu.setting
              %li=link_to "浏览#{current_user.is_a?(IndUser) ? "我的" : "机构"}主页",current_user
              %li=link_to "更改密码",user_edit_path(current_user.id,'account') 
              %li=link_to "更改#{current_user.is_a?(IndUser) ? "个人" : "机构"}信息",user_edit_path(current_user.id,'profile')
              %li=link_to "邀请朋友加入",new_invitation_path(:user)
              %li=link_to "退出",destroy_user_session_path,:method => :delete if user_signed_in?
      -else
        %ul.nav
          %li{:class=>is_active?("pages#referralbonus")}=link_to "有奖推荐", pages_referralbonus_path
        = form_for User.new, :url => '/users/sign_in' do |f| 
          %ul.nav.login
            %li= f.email_field :email,:placeholder=>"电子邮件" 
              
            %li
              = f.password_field :password,:placeholder=>"密码" 
              = link_to "忘记密码?", new_password_path(:user),class: "forgot_password"
          
            
            %li= submit_tag t('Sign in') ,:class=>"btn primary login"

:javascript
  $(".dropdown-toggle").hover(
    function () {
      $(this).addClass('active');
      $(this).next(".dropdown-menu").show();
    }, 
    function () {
      $(this).removeClass('active');
      $(this).next(".dropdown-menu").hide();
    }
  );
  $(".dropdown-menu").hover(
    function () {
      $(this).show();
    }, 
    function () {
      $(this).hide();
    }
  );

      
